<?xml version="1.0" encoding="utf-8"?>

<manifest
    package="mb00.android.codehub"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission
        android:name="android.permission.INTERNET"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="mb00.android.codehub.ui.MainActivity"
            >
            <intent-filter
                >
                <action
                    android:name="android.intent.action.MAIN"
                    />
                <category
                    android:name="android.intent.category.LAUNCHER"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="mb00.android.codehub.ui.LoginActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.HomeActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.SearchActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.UserActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.RepoActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.RepoFileActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.SettingsActivity"
            />
        <activity
            android:name="mb00.android.codehub.ui.AboutActivity"
            />
    </application>

</manifest>